In [5]:
l = {'rrc_conn_num': None, 'dl_ue_throughput_num': None, 'rrc_conn_den': None, 'ul_ue_throughput_den': None, 'dl_prb_util_num': None, 'rrc_estab_succ': None, 'dl_ue_throughput_den': None, 'pdcch_den': None, 'duration': None, 'pdcch_num': None, 'ul_ue_throughput_num': None, 'rrc_estab_att': None, 'dl_prb_util_den': None}
a = any(l.values())
a

False

In [10]:
class A:
    def __init__(self,name):
        print('hi', name)
class B(A):
    def __init__(self,name):
        super().__init__(name)
ob = B('dog')

hi dog

# Threading code snippet

## threading.Event()
A factory function that returns a new event object. An event manages a flag that can be set to true with the set() method and reset to false with the clear() method. The wait() method blocks until the flag is true.

In [170]:
import threading

class Evenodd(threading.Thread):
    def __init__(self,start1,end1,step,set_event,clear_event):
        threading.Thread.__init__(self)
        self.start1 = start1
        self.end1 = end1
        self.step = step
        self.set_event = set_event
        self.clear_event = clear_event
    def run(self):
        for i in range(self.start1,self.end1,self.step):
            print(i)
            self.set_event.set()
            self.clear_event.clear()
            self.clear_event.wait()

t1_even = threading.Event()
t2_even = threading.Event()

t1 = Evenodd(0, 10, 2,t1_even, t2_even)
t2 = Evenodd(1, 10, 2,t2_even, t1_even)

t1.start()
t2.start()

0
1
2
3
4
5
6
7
8
9

# Multiprocessing code snippet

In [5]:
import multiprocessing

def calc_square(number):
    print('Square' , number * number)
    result = number * number
    print(result)
def calc_quad(number):
    print('Quad' , number * number * number * number)
if __name__ == "__main__":
    number = 7
    p1 = multiprocessing.Process(target=calc_square, args=(number,))
    p2 = multiprocessing.Process(target=calc_quad, args=(number,))
    p1.start()
    p2.start()
    p1.join()
    p2.join()          
    print(result)

None

# Pandas Series few examples

In [55]:
import pandas as pd
import numpy as np
mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))
ser = pd.Series(mydict)
ser.index
df = pd.DataFrame(data=[],columns=[ser.index])
ser.index

Index(['a', 'b', 'c', 'e', 'd', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n',
       'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z'],
      dtype='object')

In [61]:
import numpy as np
ser1 = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))
ser2 = pd.Series(np.arange(26))
df = pd.DataFrame(data=[ser1,ser2])
df

  0  1  2  3  4  5  6  7  8  9   ...  16  17  18  19  20  21  22  23  24  25
0  a  b  c  e  d  f  g  h  i  j  ...   q   r   s   t   u   v   w   x   y   z
1  0  1  2  3  4  5  6  7  8  9  ...  16  17  18  19  20  21  22  23  24  25

[2 rows x 26 columns]

In [70]:
ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])
ser3 = ser1[~ser1.isin(ser2)]

0     5
1     7
2     9
3    11
4    13
dtype: int64

In [75]:
seru = pd.Series(np.union1d(ser1,ser2))
seru = seru[~seru.isin(pd.Series(np.intersect1d(ser1,ser2)))]
seru

0    1
1    2
2    3
5    6
6    7
7    8
dtype: int64

# Dictionary merging, sorting based on keys and values

In [14]:
d = dict(zip(['a','c','b'],[1,2,3]))
d1 = dict(zip(['x','e','f'],[1,2,3]))
#merging two dictionaries
d.update(d1)
print('Merging two dictionaries',d)
e = dict(sorted(d.items(),key=lambda x : x[1]))
print('sort based on values', e)
e = dict(sorted(d.items()))
e = dict(sorted(d.items(),key=lambda x : x[0]))
print('sort based on keys', e)

Merging two dictionaries {'a': 1, 'c': 2, 'b': 3, 'x': 1, 'e': 2, 'f': 3}
sort based on values {'a': 1, 'x': 1, 'c': 2, 'e': 2, 'b': 3, 'f': 3}
sort based on keys {'a': 1, 'b': 3, 'c': 2, 'e': 2, 'f': 3, 'x': 1}

# List merging, sorting list of tuples

In [56]:
l = [('a',1,'vinod'),('e',10,'vinod1'),('c',2,'vinod2'),('b',8,'vinod3')]
ls = sorted(l,key = lambda x:x[1])
print('sort list of tuples based on index in tuple',ls)
l1 = [1,2,5,3,34,5,7,1,2]
l.extend(l1)
print('merging two lists',l)
lsl = sorted(l1 , key = lambda x : x)
print('list of values',lsl)

sort list of tuples based on index in tuple [('a', 1, 'vinod'), ('c', 2, 'vinod2'), ('b', 8, 'vinod3'), ('e', 10, 'vinod1')]
merging two lists [('a', 1, 'vinod'), ('e', 10, 'vinod1'), ('c', 2, 'vinod2'), ('b', 8, 'vinod3'), 1, 2, 5, 3, 34, 5, 7, 1, 2]
list of values [1, 1, 2, 2, 3, 5, 5, 7, 34]

# Lambda inline function code snippets

In [63]:
square = 10
print('data type of square is',type(square))
square = lambda x : x*x
print('data type of square is',type(square))
print('passing only one arg to lambda',square(5))
two = lambda x,y : x/y
print('passing two arg to lambda',two(5,10))
two = lambda x,y,z : (x/y)+z
print('passing three arg to lambda',two(5,10,.5))

data type of square is <class 'int'>
data type of square is <class 'function'>
passing only one arg to lambda 25
passing two arg to lambda 0.5
passing two arg to lambda 1.0

In [73]:
class Employee:
    def __init__(self, name, age):
        self.name = name
        self.age = age
Alex = Employee('Alex', 20)
Amanda = Employee('Amanda', 30)
David = Employee('David', 15)
L = [Alex, Amanda, David]
n = sorted(L,key = lambda x : x.age)
for i in n:
    print(i.name)

David
Alex
Amanda

# sorting list of tuple based on index with help of sorted and sort keyword

In [8]:
x = [('vinod',26,70000),('rashmi',25,50000),('chaitu',24,18000)]
y = sorted(x,key = lambda x : x[2], reverse=False)
x.sort(key = lambda x: x[1],reverse=True)

[('vinod', 26, 70000), ('rashmi', 25, 50000), ('chaitu', 24, 18000)]

In [80]:
d = {'vinod':1,'vinod2':1,'vinod3':3,'vinod4':3,'vinod5':3,'vinod6':3,'vinod7':2}
d2 = {}
l = []
for key , value in d.items():
    if value not in d2.keys():
        d2[value] = [key]
    else:
        l,z = [],[] 
        l,z = d2[value],[key]
        l.extend(z)
        d2[value] = l
print(d2)

{1: ['vinod', 'vinod2'], 3: ['vinod3', 'vinod4', 'vinod5', 'vinod6'], 2: ['vinod7']}

In [83]:
from collections import defaultdict
d = {'vinod':1,'vinod2':1,'vinod3':3,'vinod4':3,'vinod5':3,'vinod6':3,'vinod7':2}
d2 = defaultdict()
for key, value in d.items():
    if value not in d2.keys():
        d2[value] = [key]
    else:
        d2[value] = d2.

In [120]:
i = [2,5,1,3,4]
i.sort(reverse=True)
print(i[0:4],sum(i[0:4]))
print(i[::-1][0:4],sum(i[::-1][0:4]))
#min_i = i.sort()[0:3]
#print(max_i,min_i)

[5, 4, 3, 2] 14
[1, 2, 3, 4] 10